{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Attestation de travail</title>
    <style>
        h3{
            font-size: 25px;
            font-weight: bold;
            color: black;
        }
        h4{
            font-size: 20px;
            font-weight: bold;
            color: black;
            margin-left: 200px;
            margin-top: 100px;
        }
        h6{
            margin-top: 235px; /* moitié de la hauteur */
        }
        p{
            font-size: 16px;   
            color: black;
        }
    </style>
</head>
<body>

  <!-- Le reste du contenu -->
    <div align ="center" align ="top">
        <img src="../../Pdfs/static/Pdfs/img/emidlogo.png" alt="">
    </div>
    <div align ="center" > 
        <h3><u>DEMANDE DE DEPART EN CONGE</u></h3>
    </div>
        <ul>
            <p>Nom et Prénom : {{nom_prenom}} </p>
            <p>Direction : {{departement}} </p>
            <p>Ville : {{ville}} </p>
            <p>Matricule : {{matricule}} </p>
            <p>Date de depart : {{date_depart}} </p>
            <p>Date de retour : {{date_retour}} </p>
            <p>Jours ouvrables : {{jours_ouvrables}} </p>
            <p>Interim assuré par : {{interim}} </p>
            <p>Téléphone : {{telephone}}</p>
        </ul>
        <div class="validation" align="right">
            <h3><u>Validé</u></h3>
        </div>
        <h1><u>Rappel :</u></h1>
        <p> - Les congés doivent être épuisés en totalité dans l'année ;<br>
            - Toute demande doivent parvenir au DRH, 30 jours à l'avance pour exploitation ;<br>
            - Cette décision de congé devra après visa de la DIRECTION, être remise au collaborateur
              avant son départ congé.
        </p>
        <p>
            LE RESPECT DE LA VALIDATION DE LA DEMANDE EST OBLIGATOIRE FAUTE DE QUOI L'ABSCENCE SERA CONSIDEREE
            COMME Abandon de poste conformément au code du travail en vigueur
        </p>
</body>
</html>