{% load static %}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Demande de congé de {{ nom_prenom }}</title>
    <style>
        p , h3, h2{
            font-size: 15px;   
            color: black;
        }
        th {
          border: 1px solid black;
          text-align: center;
          padding: 1px;
          background-color: rgb(117, 117, 117);
          color: black;
          font-size: 16px;
        }
        td {
          border: 1px solid black;
          text-align: center;
          padding: 1px;
          font-size: 16px;
        }
        img {
  width: 200px;
}
    </style>
</head>
<body>

  <!-- Le reste du contenu -->
    <div align ="top">
        <img src="../../Pdfs/static/Pdfs/img/emidlogo.png" alt="">
    </div>
    <ul>
    <p>D.R.H</p>
</ul>
    <div align ="center" > 
        <h3><u>DEMANDE DE DEPART EN CONGE <br>(Année {{annee_courante}}) </u></h3>
    </div>
    <br>
        <ul>
            <p>Nom et Prénom : {{nom_prenom}} </p>
            <p>Direction : {{departement}} </p>
            <p>Ville : {{ville}} </p>
            <p>Matricule : {{matricule}} </p>
            <p>Date de depart : {{date_depart}} </p>
            <p>Date de retour : {{date_retour}} </p>
            <p>Jours ouvrables : {{jours_ouvrables}} </p>
            <p>Interim assuré par : {{interim}} </p>
            <p>Téléphone : {{telephone}}</p>
        </ul>
        <br>
        <table>
            <tr>
                <th>Demandeur</th>
                <th>Supérieur hiérarchique</th>
                <th>Direction concernés</th>
                <th>Direction RH</th>
            </tr>
            <tr>
                <td>validé <br> le: {{ date_demande }} </td>
                <td>validé <br> le: {{ date_validation_superieur }} </td>
                <td>validé <br> le: {{ date_validation_direction }} </td>
                <td>validé <br> le: {{ date_validation_direction_rh }} </td>
            </tr>
        </table>
        <br>
        <h2><u>Rappel :</u></h2>
        <p> - Les congés doivent être épuisés en totalité dans l'année ;<br>
            - Toute demande doivent parvenir au DRH, 30 jours à l'avance pour exploitation ;<br>
            - Cette décision de congé devra après visa de la DIRECTION, être remise au collaborateur
              avant son départ congé.
        </p>
        <p>
            LE RESPECT DE LA VALIDATION DE LA DEMANDE EST OBLIGATOIRE FAUTE DE QUOI L'ABSCENCE SERA CONSIDEREE
            COMME Abandon de poste conformément au code du travail en vigueur.
        </p>
</body>
</html>