{% block demande_doc_validation %}
<!--  Demande d'attestation de Travail Validation Modal -->
 <div class="modal fade" id="demande-doc-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Confirmation de la demande</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div id="modal-body" class="modal-body"></div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
          <button class="btn btn-primary" data-url="{% url 'demande_doc' %}" value="" id="confirm-demande-doc">Envoyer</button>
        </div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}