{% extends "base.html" %}
{% load static %}
{% block title %}
  Consultation
{% endblock %}
{% block Content %}
{% block css %}
<link href="{% static 'Realisation/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Demandes des Congés </h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Employés</th>
            <th>Date d'envoi</th>
            <th>Date de depart</th>
            <th>Date de retour</th>
            <th>Etat</th>
            <th>Telecharger</th>
          </tr>
        </thead>
        <tbody id="accept-demande-doc-type">
        {% for Demande in demandes %}
          <tr>
            <td>{{ Demande.employe }}</td>
            <td>{{ Demande.date_envoi }}</td>
            <td>{{ Demande.date_depart }}</td>
            <td>{{ Demande.date_retour }}</td>
            <td>{{ Demande.etat }}</td>

            <td>
                <div align='center'>
                    {% if Demande.etat == 4 %}
                  <a type='button' href="{% url 'generate_pdf_demande_conge' Demande.id %}" class='far fa-file-pdf' style='font-size:24px;color:red;background:none;border:none;'></a>
                    {% else %}
                       Congé Non Validé
                    {% endif %}
                </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}