{% extends "base.html" %}
{% load static %}
{% block title %}
  Consultation
{% endblock %}
{% block Content %}
{% block css %}
<link href="{% static 'Realisation/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Table des Demandes </h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Employés</th>
            <th>Date de depart</th>
            <th>Date de retour</th>
            <th>Etat</th>
          </tr>
        </thead>
        <tbody id="accept-demande-doc-type">
        {% for Demande in demandes %}
          <tr>
            <td>{{ Demande.employe }}</td>
            <td>{{ Demande.date_depart }}</td>
            <td>{{ Demande.date_retour }}</td>
            <td>{{ Demande.etat }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}