{% load i18n %}{% autoescape off %}
{% blocktrans %}Vous recevez cet email en suite à votre demande de congé envoyé le {{ date_envoi }} à {{ site_name }}.{% endblocktrans %}
{% trans "Nous vous informons que votre demande de congé a été Refusée pour le motif suivant :" %}
{{ demande_conge.get_motif_refus }}
{% trans "Nous vous rappellons que : " %}
{% trans "Votre matricule est : " %} {{ employe.get_matricule }}
{% trans "Votre date de départ en congé souhaitée est : " %} {{ demande_conge.get_date_depart }}
{% trans "Votre date de retour du congé souhaitée est : " %} {{ demande_conge.get_date_retour }}
{% trans "Vos Jours ouvravles sont : " %} {{ demande_conge.get_jours_ouvrables }}
{% trans "Veuillez visiter ce lien pour voir plus de détails sur toutes vos demandes de congés" %}
    {% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'historique_demandes_conges'  %}
    {% endblock %}
{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
