{% load bootstrap4 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link  rel="stylesheet" href="{% static 'Authentification/css/styles.css' %}" type="text/css"  >
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
        <div class="card-header">
            <div class="text-uppercase text-lg-center card-title " >
                <span class="font-weight-bold" >EMID DEPARTEMENT RH</span>
            </div>
        </div>
          <div class="card-body">
            <div class="card-subtitle text-center">
                <h3 class="card-text font-weight-normal">Authentifiez-vous </h3>
            </div>
            <br/>
            <form class="form-signin" method="POST">
                {% csrf_token %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
              <div class="form-label-group">
                  {{ form.matricule_paie.errors }}
                <input type="text" id="{{ form.matricule_paie.id_for_label }}" class="form-control" placeholder="Matricule Paie" name="matricule_paie" required autofocus>
                <label for="{{ form.matricule_paie.id_for_label }}">Matricule Paie</label>
              </div>

              <div class="form-label-group">
                  {{ form.password.errors }}
                <input type="password" id="{{ form.password.id_for_label }}" class="form-control" placeholder="Mot de passe" name="password" required>
                <label for="{{ form.password.id_for_label }}">Mot de Passe</label>
              </div>

              <!--<div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Enregister Mot de Passe</label>
              </div>-->
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">S'authentifier</button>
              <hr class="my-4">
            </form>
          <div class="text-sm-center">
              <a role="button" class="btn btn-sm btn-outline-primary text-lowercase" href="{% url 'reset_password_email' %}" >Mot de Passe Oublié ?</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>