{% load bootstrap4 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link  rel="stylesheet" href="{% static 'Authentification/css/styles.css' %}" type="text/css"  >
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
              <img src= "{% static 'Authentification/images/emidlogo.png' %}" style="width: 260px;height: 220px;margin-left: 17%"/>
            <div class="card-title text-center">
                <h3 class="card-text"> Modification du Mot de Passe </h3>

            </div>
            <div class="card-subtitle text-sm">
                <span class="card-text">Saisissez votre mot de passe à deux reprises</span>
            </div>
            <br/>
            <form class="form-signin" method="POST">
                {% csrf_token %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
            <!--<div class="form-label-group">
                  {{ form.matricule_paie.errors }}
                <input type="text" id="{{ form.matricule_paie.id_for_label }}" class="form-control" placeholder="Matricule Paie" name="matricule_paie" required autofocus>
                <label for="{{ form.matricule_paie.id_for_label }}">Matricule Paie</label>
              </div>-->

            <!--<input type="text" id="{{ form.matricule_paie.id_for_label }}" name="matricule_paie" required autofocus>
            <div class="form-label-group">
                  {{ form.old_password.errors }}
                <input type="password" id="{{ form.old_password.id_for_label }}" class="form-control" placeholder="Ancien Mot de Passe" name="old_password" required autofocus>
                <label for="{{ form.old_password.id_for_label }}">Ancien Mot de Passe</label>
              </div>-->
              <div class="form-label-group">
                  {{ form.new_password1.errors }}
                <input type="password" id="{{ form.new_password1.id_for_label }}" class="form-control" placeholder="Nouveau Mot de Passe" name="new_password1" required autofocus>
                <label for="{{ form.new_password1.id_for_label }}">Nouveau Mot de Passe</label>
              </div>

              <div class="form-label-group">
                  {{ form.new_password2.errors }}
                <input type="password" id="{{ form.new_password2.id_for_label }}" class="form-control" placeholder="Confirmer Mot de passe" name="new_password2" required>
                <label for="{{ form.new_password2.id_for_label }}">Confirmer Nouveau Mot de Passe</label>
              </div>

              <!--<div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Enregister Mot de Passe</label>
              </div>-->
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"> Valider </button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>