{% extends "base.html" %}
{% block title %}
   Profile
{% endblock %}
{% block Content %}
<div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">{{ name }}</h1>
              </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Informations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'historique_demandes' %}">Historique des demandes</a>
            </li>
        </ul>
        <br>
        <h4>Matricule:  {{Matricule}}</h4><br>
        <h4>Fonction:  {{Fonction}}</h4><br>
        {% if salaire %}<h4>Salaire brute: {{salaire}}dhs </h4>{% else %}<h4>Salaire non défini</h4>{% endif %}<br>
        <h4>C.N.S.S N<sup>o</sup>: {{cnss}}</h4><br>
        <h4>Departement: {{Departement}}</h4><br>
</div>

{% endblock %}