{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Département RH{% endblock %}</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'Realisation/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'Realisation/css/sb-admin-2.min.css' %}" rel="stylesheet">
  <style>
    * {
    margin: 0;
      }
    html, body {
    height: 100%;
    }
    .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
    }
    .footer, .push {
    height: 142px; /* .push must be the same height as .footer */
    }

  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <!-- Page Wrapper -->

  <div id="wrapper">
    {% block Sidebar %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'Dashboard' %}">
          <div class="sidebar-brand-text mx-3">Département RH</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Dashboard' %}">
            <i class="fas fa-home"></i>
          <span>Accueil</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-envelope-open-text"></i>
          <span>Demandes</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-light py-2 collapse-inner rounded">
            <h6 class="collapse-header">Demande des documents :</h6>
            <div id="container-demandes-docs">
            <a class="collapse-item" data-toggle="modal" data-target="#demande-doc-Modal" data-value="salaire" href="#">Attestation de salaire</a>
            <a class="collapse-item" data-toggle="modal" data-target="#demande-doc-Modal" data-value="travail"  href="#">Attestation de travail</a>
            <a class="collapse-item" data-toggle="modal" data-target="#demande-doc-Modal" data-value="domiciliation" href="#">Domiciliation</a>
              </div>
            <h6 class="collapse-header">Demande des services:</h6>
            <a class="collapse-item" href="buttons.html">Congés</a>
            <a class="collapse-item" href="cards.html">Recrutements</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
       <!-- Menu gestion des demandes // En attente d'application de restrictions sur cette partie -->
        {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="far fa-eye"></i>
          <span>Consulter les demandes</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-light py-2 collapse-inner rounded">
            <h6 class="collapse-header">Demande des documents</h6>
            <a class="collapse-item" href="{% url 'consultation_demandes_docs' 'salaire' %}">Attestation de salaire</a>
            <a class="collapse-item" href="{% url 'consultation_demandes_docs' 'travail' %}">Attestation de travail</a>
            <a class="collapse-item" href="{% url 'consultation_demandes_docs' 'domiciliation' %}">Domiciliation</a>
            <h6 class="collapse-header">Demande des services</h6>
            <a class="collapse-item" href="buttons.html">Congés</a>
            <a class="collapse-item" href="cards.html">Recrutements</a>
          </div>
        </div>
      </li>
        {% endif %}
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Fiche des objectifs
      </div>


      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="far fa-file-alt"></i>
          <span>Remplir la fiche des objectifs</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="far fa-eye"></i>
          <span>Consulter la fiche des objectifs</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
    {% endblock %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        {% block Topbar %}
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
            {% include "Notifications/notifications.html" %}
                </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Bienvenue {{ request.user }}</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'profile' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Déconnexion
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        {% endblock %}
      {% block Content %}

      {% endblock %}
      {% block Footer %}
      <!-- Footer -->
      <footer class="sticky-footer bg-white" >
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; EMID 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
      {% endblock %}
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  {% include "Authentification/validation_logout.html" %}
  <!-- Validation de la demande des documents Modal-->
  {% include "Gestion_Attestations/validation_demande_doc.html" %}
  <!-- Bootstrap core JavaScript-->
 <script src="{% static 'Realisation/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'Realisation/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'Realisation/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'Realisation/js/sb-admin-2.min.js' %}"></script>
  <script src="{% static 'Realisation/sweetalert/dist/sweetalert.min.js' %}"></script>
  <script src="{% static 'Notifications/js/notifications_handling.js' %}"></script>
  <script type="text/javascript" >

    setInterval(function() {
        $.ajax({
            url: '{% url "get_notifications_count" %}',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                    if (data.notifications_count > 0) {
                        $('#notification-logo').text(data.notifications_count);
                        $('#notification-logo').attr('class', 'badge badge-danger badge-counter');
                    }
                    else {
                         $('#notification-logo').text('');
                    }
            }

        })
    }, 500);
      $("#notification-detail-modal").on("show.bs.modal", (function(e) {
        let notif_id = $(e.relatedTarget).data("value");
        $.ajax({
            url: '{% url 'get_notification_detail' %}',
            type: 'GET',
            dataType: 'json',
            data: {
                'notif_id': notif_id,
            },
            success: function(data) {
                $("#notification-detail-modal .modal-title").text(data.subject);
                $("#notification-detail-modal .modal-body").text(data.message);
                if(data.no_reply === true) {
                    $("#notification-detail-modal #accept-demande-doc").remove();}
                $("#accept-demande-doc").val(notif_id);
            }
        });
    }));
  </script>
  <script src="{% static 'Gestion_Attestations/js/envoyer_demande_doc.js' %}" ></script>
</body>

</html>