{% extends "base.html" %}
{% block title %}equipe demande attestation{% endblock %}
{% block Content %}
<style>
    .container-fluid{
        margin-top: 10%;
        margin-left: 24%;
    }
    .row{
        margin-top: 10%;
        
    }
    h1 {
        margin-left: 3%;
    }

</style>
<h1 class="text-primary">Demander pour {{ nom_prenom }} </h1>
<div class="container-fluid">
    
    <div class="row">
    
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <a href="{% url 'equipe_demande_attestation'  matricule %}" class="btn">
                      <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                           <h6>Demander une attestation</h6> </div>
                              </div>
                              <div class="col-auto">
                              <i class="fas fa-envelope-open-text fa-2x text-gray-300"></i>
                          </div>
                           </div>
                      </div>     
              </a>
            </div>
          </div>
          
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <a href="{% url 'demande_conge' matricule  %}" class="btn">
                      <div class="card-body">
                          <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        <h6>Demander un Congé</h6>
                                    </div>
                              </div>
                              <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                  </div>
                           </div>
                      </div>
                </a>
            </div>
    </div>
    </div>
</div>
{% endblock %}
