
{% block notifications %}
    
            <!-- Dropdown - Alerts -->
            <a class="nav-link dropdown-toggle" href="#" data-url="{% url 'get_notifications' %}" id="notifications-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span id="notification-logo" class="badge badge-danger badge-counter"></span>
              </a>
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                Notifications
              </h6>
                <div id="notifications-get">
                </div>
              <span id="notification-none" class="dropdown-item text-center small text-gray-500" href="#">Aucune Notification</span>
            </div>
            <div class="modal fade" id="notification-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                         <h5 class="modal-title" id="modal-title"></h5>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                    <div class="modal-body" id="modal-body"></div>
                <div class="modal-footer">
                    <div id="notif-reply">
                        <button id="close-button" data-url="" value="" class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
                        <a name="notif_id" class="btn btn-primary" data-url="" id="accept-demande" href="" target="_blank" value="">Accepter</a>
                    </div>
                </div>
                </div>
                </div>
            </div>

{% endblock %}

